
@main("Dominion") {

    <main class="container-fluid" ng-controller="MainCtrl">

        <section class="col-md-2 col-xs-4" ng-controller="CardCtrl">
            <h1>Dominion</h1>
            <p><strong>Actions:</strong> <span class="label label-default pull-right" ng-bind="actions"/></p>
            <p><strong>Buys:</strong> <span class="label label-default pull-right" ng-bind="buys"/>></p>
            <p><strong>Gold:</strong> <span class="label label-warning pull-right" ng-bind="gold"/></p>
            <p>Discards: <span class="label label-default pull-right" ng-bind="rejects"/></p>
            <p>You can trash <span class="label label-default pull-right" ng-bind="throws"/></p>
            <p>Your cards:</p>
            <ul class="list-unstyled panel-group" id="accordion">
                <li class="panel panel-default" ng-repeat="card in cards track by $index">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#hand{{card.name}}" ng-bind="card.name"></a>
                        <button ng-show="card.type == 'action'" class="btn btn-primary pull-right" ng-click="play(card)">Play</button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-collapse collapse" id="hand{{card.name}}">
                    <div class="panel-body" ng-bind="card.desc"></div>
                </li>
            </ul>
        </section>


        <section class="col-xs-8 col-md-10" ng-controller="TableCtrl">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-xs-6" ng-repeat="card in cards track by $index">
                    <section class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title" > {{card.name}}
                                <span class="label label-warning pull-right" ng-bind="card.cost"></span>
                            </h4>
                        </div>
                        <div class="panel-body">
                            <p ng-bind="card.desc"></p>
                            <button ng-disabled="funds < card.cost || buys == 0" class="btn btn-primary pull-right" ng-click="buy(card)">Buy</button>
                        </div>
                    </section>
                </div>
            </div>
        </section>

    </main>

}