
@main("Dominion"){

    <main class="container" ng-controller="MainCtrl">
        <section class="col-xs-2" ng-controller="CardCtrl">
            <h1>Dominion</h1>

            <p><strong>Actions:</strong> <span class="label label-default pull-right">{{actions}}</span></p>
            <p><strong>Buys:</strong> <span class="label label-default pull-right">{{buys}}</span></p>
            <p><strong>Gold:</strong> <span class="label label-default pull-right">{{gold}}</span></p>
            <p>Discards: <span class="label label-default pull-right">{{rejects}}</span></p>
            <p>You can trash <span class="label label-default pull-right">{{throws}}</span></p>
            <p>Your cards:</p>
            <ul ng-repeat="card in cards">
                <li>{{card}}</li>
            </ul>
        </section>
        <section class="col-xs-10" ng-controller="TableCtrl">
        </section>
    </main>

}